[submodule "third_party/termux-app"]
	path = third_party/termux-app
	url = https://github.com/termux/termux-app.git
[submodule "third_party/termux-packages"]
	path = third_party/termux-packages
	url = https://github.com/termux/termux-packages.git
